{% load static %}
{% include "base/header.html" %}
<script>
    function openNav() {
        document.getElementById("mobileMenu").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mobileMenu").style.width = "0";
    }
</script>

    <!-- Main Header End -->
    
    
    <section class="filmoja-breadcrumb-area section_15 container" style="background: #22272b; max-width: 100% !important; border-bottom: 0.1px solid #fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-box">
                        <h2>Bước 2: Chọn bắp nước</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="feature-section padding-top-20 padding-bottom-5 container" style="background: #22272b; max-width: 100% !important; overflow-x: auto;">
        {% for combo in combos %}
        <div class="single-movie-list col-lg-4 col-md-6 col-sm-12" style="float:left">
            <div class="row">
                <div>
                    <img src="{{ combo.img_combo.url }}" style="height:auto !important" alt="Combo image">
                    <div class="col-lg-12">
                        <h3 style="font-size: 25px; font-weight: bold; color: #f37737;">{{ combo.ten_combo }}</h3>
                        <p class="list-genre">Mô tả chi tiết về combo nếu có thể</p>
                        <p class="list-genre">{{ combo.gia_combo|floatformat:0 }} đ</p>
                        <div class="col-md-12 col-sm-12">
                            <hr class="space-10">
                            <div class="row row-combo" style="width: 100%; display: flex; justify-content: center;">
                                <p style="width: 50px; height: 50px; background: #f37737; color: #fff; text-align: center; line-height: 50px; font-size: 20px; font-weight: bold; border-radius: 5px; padding: 0; margin: 5px; cursor: pointer;" onclick="minusCombo('cb-{{ combo.id }}', {{ combo.id }}, {{ combo.gia_combo }}, '{{ combo.ten_combo }}')">-</p>
                                <input type="number" id="cb-{{ combo.id }}" data-price="{{ combo.gia_combo }}" style="width: 50px; border-radius: 5px; text-align: center; height: 50px; margin: 5px;" readonly="readonly" value="0" min="0" max="99">
                                <p style="width: 50px; height: 50px; background: #f37737; color: #fff; text-align: center; line-height: 50px; font-size: 20px; font-weight: bold; border-radius: 5px; padding: 0; margin: 5px; cursor: pointer;" onclick="plusCombo('cb-{{ combo.id }}', {{ combo.id }}, {{ combo.gia_combo }}, '{{ combo.ten_combo }}')">+</p>
                            </div>                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Không có combo nào để hiển thị.</p>
        {% endfor %}
    </div>
    
    <section class="categories-section padding-top-20 padding-bottom-40 margin-bottom-10 container bg-main info-map" style="box-shadow: 0px -2px 5px 0px #333; position: fixed; width: 100%; border: 0; left: 0; right: 0; height: 120px; bottom: 0; background: #fff; max-width: 100% !important; z-index: 999; padding-top: 10px;">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4">
                    <h5 style="margin-bottom: 15px; text-transform: uppercase; font-weight: 500; color: #444444; text-decoration: underline; background-image: url({% static "img/tag.png" %} ); -webkit-background-size: 21px 6px; background-size: 21px 6px; background-position: left center; background-repeat: no-repeat; padding-left: 30px;"></h5>
                    <div class="note-color">
                        <div class="note-col" id="total_ticket" style="font-size: 17px;"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="col-lg-12">
                        <h5 style="margin-bottom: 15px; text-transform: uppercase; font-weight: 500; color: #444444; text-decoration: underline; background-image: url({% static "img/tag.png" %} );-webkit-background-size: 21px 6px; background-size: 21px 6px; background-position: left center; background-repeat: no-repeat; padding-left: 30px;">Thành tiền</h5>
                        <div class="note-color">
                            <div class="note-col" id="total_price" style="font-size: 17px;"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="align-items: center; display: flex;">
                    <div class="note-color" style="width:100%">
                        <div class="note-col" style="width:100%">
                           <a onclick="nextStep('{{ phim.id }}', '{{ xuat_chieu.id }}')" class="btn btn-success">Tiếp theo</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        let selectedCombos = {};  // Lưu danh sách các combo đã chọn
    
        // Cập nhật danh sách combo đã chọn
        function updateComboList(comboId, comboName, quantity) {
            if (quantity > 0) {
                // Nếu combo đã có trong danh sách, thêm số lượng vào mảng
                if (selectedCombos[comboId]) {
                    selectedCombos[comboId].push(`${comboName} x ${quantity}`);
                } else {
                    selectedCombos[comboId] = [`${comboName} x ${quantity}`];
                }
            } else {
                delete selectedCombos[comboId];  // Xóa nếu số lượng là 0
            }
            displaySelectedCombos();
        }
    
        // Hiển thị danh sách các combo đã chọn
        function displaySelectedCombos() {
            const comboList = document.getElementById("total_ticket");
            comboList.innerHTML = '';
            for (let combo in selectedCombos) {
                selectedCombos[combo].forEach(item => {
                    const comboItem = document.createElement("p");
                    comboItem.innerText = item;
                    comboList.appendChild(comboItem);
                });
            }
        }
    
        // Hàm tăng số lượng combo
        function plusCombo(id, cid, price, name) {
            const input = document.getElementById(id);
            let number = parseInt(input.value) || 0;
            if (number < 99) {
                input.value = number + 1;
                updateComboList(cid, name, input.value);
                updateTotal();
            }
        }
    
        // Hàm giảm số lượng combo
        function minusCombo(id, cid, price, name) {
            const input = document.getElementById(id);
            let number = parseInt(input.value) || 0;
            if (number > 0) {
                input.value = number - 1;
                updateComboList(cid, name, input.value);
                updateTotal();
            }
        }
    
        // Cập nhật tổng tiền
        function updateTotal() {
            let total = 0;
            document.querySelectorAll('input[id^="cb-"]').forEach(input => {
                const price = parseInt(input.getAttribute('data-price')) || 0;
                const quantity = parseInt(input.value) || 0;
                total += price * quantity;
            });
            document.getElementById("total_price").innerText = total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ";
        }
    
        // Chuyển hướng đến trang checkout với các tham số
        function nextStep(phimId, xuatChieuId) {
            let selectedSeatIds = [];  // Lấy các ghế ngồi đã chọn
            document.querySelectorAll('input[id^="cb-"]').forEach(input => {
                if (parseInt(input.value) > 0) {
                    selectedSeatIds.push(input.id.replace("cb-", ""));  // Lấy ID ghế ngồi
                }
            });
    
            // Lấy các ID combo đã chọn (bao gồm cả các combo chọn nhiều lần)
            let selectedComboIds = [];
            for (let combo in selectedCombos) {
                selectedCombos[combo].forEach(() => {
                    selectedComboIds.push(combo);  // Thêm ID combo vào mảng cho mỗi lần chọn
                });
            }
            
            // Tạo URL với các tham số
            let url = `/checkout/${phimId}/${xuatChieuId}/${selectedSeatIds.join(',')}/${selectedComboIds.join(',')}`;
            
            // Chuyển hướng đến URL
            location.href = url;
        }
    </script>
    
    

    <!-- Footer Start -->
    
<footer class="filmoja-footer-area">
    <div class="footer-top-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-footer-widget">
                        <a href="#"><img src="{% static "trangchu/Content/img/logo.png" %}" alt="footer logo" /></a>
                        
                        <div class="footer-contact">
                            <p>Support: <a href="#">support@starlight.vn</a></p>
                            <p>Hotline: <a href="tell:1900 1722">1900 1722</a></p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Chính sách</h3>
                        <ul>
                                    <li><a href="/chinh-sach/dieu-khoan-chung-1.html"><i class="fa fa-angle-double-right"></i>Điều khoản chung</a></li>
                                    <li><a href="/chinh-sach/chinh-sach-thanh-toan-2.html"><i class="fa fa-angle-double-right"></i>Ch&#237;nh s&#225;ch thanh to&#225;n</a></li>
                                    <li><a href="/chinh-sach/chinh-sach-giao-nhan-3.html"><i class="fa fa-angle-double-right"></i>Ch&#237;nh S&#225;ch Giao Nhận</a></li>
                                    <li><a href="/chinh-sach/bao-mat-thong-tin-4.html"><i class="fa fa-angle-double-right"></i>Bảo Mật Th&#244;ng Tin</a></li>
                                    <li><a href="/chinh-sach/kiem-hang-doi-tra-hoan-tien-5.html"><i class="fa fa-angle-double-right"></i>Kiểm H&#224;ng, đổi trả/ho&#224;n tiền</a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-lg-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Download App</h3>
                        <div class="footer-app-box">
                            <p>Tải ngay ứng dụng đặt vé online cho dế yêu của bạn !</p>
                            <ul class="apps-list">
                                <li><a href="https://play.google.com/store/apps/details?id=com.kingprocompany.starlightcinemas"><img src="{% static "img/app-1.jpg" %}" alt="app image" /></a></li>
                                <li><a href="https://apps.apple.com/us/app/starlight-cinemas/id1588865280"><img src="{% static "img/app-2.jpg" %}" alt="app image" /></a></li>
                            </ul>
                            <ul class="apps-list">
                                <li><a href="http://online.gov.vn/Home/WebDetails/118483" target="_blank"><img alt="" title="" src="{% static "img/congthuong.png" %} "></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 style="color:#fff">CÔNG TY CỔ PHẦN ENTERTAINMENT 2020</h3>
            <p>
                Giấy chứng nhận đăng kí doanh nghiệp công ty cổ phần: 0402021264 đăng ký lần đầu ngày 03/01/2020
            </p>
            <p>
                Cơ quan cấp : Phòng Đăng ký kinh doanh - Sở kế hoạch và đầu tư Thành phố Đà Nẵng
            </p>
            <p>
                Địa chỉ: Tầng 4, Tòa nhà Nguyễn Kim, 46 Điện Biên Phủ, TP. Đà Nẵng, Việt Nam
            </p>
            <p style="color:#fff">
                Hotline (Đường dây nóng) : <a href="tel:19001722">19001722</a>
            </p>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-box">
                        <p>2019 © StarLight. All rights reserved - Design by <a href="https://kingpro.vn">KingPro</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section>
    <div id="mobile-menu">
        <ul>
            <li><a class="" href="/" style="background-color:#2b2b31;"><i class="fa fa-home"></i><br />Trang Chủ</a></li>
            <li><p onclick="toggleMBooking()" style="background-color: #2b2b31;"><i class="fa fa-ticket"></i><br /> Đặt V&#233;</p></li>
            <li><a class="" href="/lich-chieu.html" style="background-color: #2b2b31;"><i class="fa fa-film"></i><br /> Lịch Chiếu</a></li>
            <li><a href="/uu-dai.html" style="background-color: #2b2b31;"><i class="fa fa-gift"></i><br /> Ưu Đ&#227;i</a></li>
        </ul>
    </div>

</section>
<section>
    <div class="mobile-book">
        <select class="slMTheater" onchange="selectMServer(this)">
            <option value="0">Rạp</option>
        </select>
        <select class="slMFilm" onchange="selectMFilm(this)">
            <option value="0">Phim</option>
        </select>
        <select class="slMDate" onchange="selectMDate(this)">
            <option value="0">Ng&#224;y chiếu</option>
        </select>
        <select class="slMTime" onchange="selectMTime(this)">
            <option value="0">Suất chiếu</option>
        </select>
        <a id="btnMBooking" onclick="btnMBooking()">Mua V&#233; Ngay</a>
    </div>
</section>


<script>
    function logOutMenu() {
        $.ajax({
            url: "/MemberRegister/Logout",
            type: "POST",
            traditional: true,
            datatype: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                //alert(result);
                if (result === "true" || result === true) {
                    location.href = "/";
                } else {
                }
            },
            error: function () {
                return false;
            }
        });
    }
</script>
<script>
    function toggleMBooking() {
        $(".mobile-book").toggleClass("show-mobile-book");
    }
</script>
<!-- Load Facebook SDK for JavaScript -->

    <div class="modal fade" id="adsImageModal" role="dialog" style="background: rgba(51, 51, 51, 0.46);">
        <div class="modal-dialog" style="width:95%;max-width:95%;margin:100px auto;">
            <!-- Modal content-->
            <div class="modal-content" style="    max-width: 640px;margin: 0 auto;">
                <div class="modal-body" style="padding:0">
                    <img id="adsImage" style="    border: 3px solid #000;border-radius: 3px;width:100%" src="http://www.starlight.vn/Areas/Admin/Content/Fileuploads/images/POSTER/z2950019928727_f1e225b7c12d6c9e9cd4af710d7e685f.jpg" />
                </div>
            </div>
        </div>
    </div>
    {% comment %} <script src="/Scripts/Style"></script>

    <script src="/Scripts/js/film-script.js"></script> {% endcomment %}

</body>
</html>